<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ table_name }} Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>{{ table_name }} Table</h1>
    <table border="1">
      <thead>
        <tr>
          {% for column in rows[0].keys() %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            {% for cell in row.values() %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to tables list</a>
  </body>
</html>
